sudo: false
language: python
python:
- '3.6'
- '3.7'
- '3.8'
compiler:
- gcc
- clang
addons:
  apt:
    packages:
    - libhdf5-serial-dev
    - libboost-dev
install:
- pip install -r requirements.txt
- pip install pytest
- pip install -e .
script:
- make test
- pytest -v
notifications:
  slack:
    secure: gkEltYImd4mDmRx/WZrxT0ylPlP6ycUhOueEgCBV54mY/3PPN28dIaf4DXhzRdhOw50g9b5cRYyrDirX2IlGUq5aUBNC6b6PllytoCEhiZbqLvkEdGjb+vix+IQ9LvOE+mTr8uOkC96Bs6ai3nXK0W00U/9PjjWfAdTflAnf/xg=
